#footer {
  background-color: $background_footer;
  border-top: 1px solid $border_footer;
  .container {
    .content-footer {
      @include flex-between-center;
      padding: 10px 15px 10px 15px;
      .left-footer {
        .content-left-footer {
          ul {
            @include flex-center-center;
            list-style: none;
            li {
              font-size: 11px;
            }
          }
        }
      }
      .right-footer {

      }
    }
  }
}
