#footer {
  background-color: $background_footer;
  border-top: 1px solid $border_footer;
  .container {
    .content-footer {
      @include flex-between-center;
      padding: 10px 15px 10px 15px;
      .left-footer {
        .content-left-footer {
          ul {
            @include flex-center-center;
            list-style: none;
            li {
              &:nth-child(2):before {
                @include dot;
              }
              &:nth-child(3):before {
                @include dot;
              }
              &:nth-child(4):before {
                @include dot;
              }
              a {
                font-size: 11px;
                color: $footer_menu;
                text-decoration: none;
                font-weight: 300;
              }
            }
          }
        }
      }
      .right-footer {
        .content-right-footer {
          @include flex-center-center;
          img {
            padding-right: 10px;
            &:hover {
              cursor: pointer;
            }
          }
          select {
            padding-right: 80px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
