#navbar {
  .container {
    .content-navbar {
      @include flex-between-center;
      height: 65px;
      padding: 10px;
      .left-navbar {
        .content-left-navbar {
          @include flex-start-center;
          h2 {
            color: $gray_menu;
            font-weight: 400;
            padding-left: 5px;
          }
        }
      }
      .right-navbar {
        .content-right-navbar {
          @include flex-end-center;
          svg {
            width: 25px;
            margin-right: 15px;
          }
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}
#menu {
  .container {
    .content-menu {
      padding: 0 10px;
      ul {
        @include flex-start-center;
        list-style: none;
        li {
          font-size: 15px;
          font-weight: 500;
          margin-right: 40px;
          padding-bottom: 10px;
          color: $gray_menu;
          &.active {
            color: $active_menu;
            border-bottom: 3px solid $active_menu;
          }
        }
      }
    }
  }
}
